
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  h1 u {
    text-decoration: none;
    border-bottom: 3px solid #000;
  }
  
  @media (max-width: 768px) {
    .img1 {
      height: 300px;
    }
  }
  .img2 {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  